<div class="modal-container">
  <div class="modal-header">
    <h2>
      {{ title }}
    </h2>
    <span>{{ subtitle }}</span>
  </div>

  <!-- Error display -->
  @if (formState) {
  <div class="error-container">
    <p>{{ formState.error }}</p>
    <ul>
      @for (field of formState.fields; track field) {
      <li>{{ field }}</li>
      }
    </ul>
  </div>
  }

  <!-- Form -->
  @if (modalFormGroup && ('group' == entityToCreate || 'student' ==
  entityToCreate || 'class' == entityToCreate)) {
  <form
    class="form-container"
    [formGroup]="modalFormGroup"
    (ngSubmit)="onSubmit()"
  >
    @for (controlField of modalFormGroup.value | keyvalue; track
    controlField.key) {
    <div class="form-field">
      <label [for]="controlField.key">{{
        getLabelNameFromInputs(controlField.key)
      }}</label>
      <input
        [type]="getTypeOf(controlField.key)"
        [name]="controlField.key"
        [id]="controlField.key"
        [placeholder]="getPlaceholderFromInputs(controlField.key)"
        [formControlName]="getFormControlKey(controlField.key)"
      />
    </div>
    }

    <app-modal-form-button [buttonText]="'Terminer et sortir'" />

    <app-modal-form-button
      [buttonText]="'Annuler'"
      [isSubmit]="false"
      [isOkButton]="false"
      (click)="cancelModal()"
    />
  </form>
  } @if (entityToCreate == 'pdf') {
  <div class="form-container">
    <app-modal-form-button
      [buttonText]="'Version simple'"
      (click)="downloadPdf('simple')"
    />
    <app-modal-form-button
      [buttonText]="'Version complète'"
      (click)="downloadPdf('complete')"
    />

    <app-modal-form-button
      [buttonText]="'Annuler'"
      [isSubmit]="false"
      [isOkButton]="false"
      (click)="cancelModal()"
    />
  </div>
  }
</div>

<div class="modal-overlay" (click)="cancelModal()"></div>
