<div class="entity-container">
  <h2>Étudiants</h2>
  <ul>
    <li>
      <app-entity-add-button [buttonAddText]="'Ajouter un étudiant'" />
    </li>
    @for (student of students(); track student.student_id) {
    <li>
      <span>{{ student.firstname }} {{ student.lastname }}</span>
      <button type="button">
        <img [src]="assetsStore.tabSvg.path" [alt]="assetsStore.tabSvg.alt" />
      </button>
      <button type="button">
        <img
          [src]="assetsStore.trashSvg.path"
          [alt]="assetsStore.trashSvg.alt"
        />
      </button>
    </li>
    }
  </ul>
</div>
