<div class="group-container">
  <app-group-grades
    [grades]="grades()"
    [group_id]="group_id()"
    (onDeleteClick)="removeEntityFromGroup($event)"
  />

  <app-group-students
    [students]="students()"
    [isAllowedToGrade]="classes().length > 0"
    (onDeleteClick)="removeEntityFromGroup($event)"
    (onModalClick)="openModalForm($event.type)"
  />
  <app-group-classes
    [classes]="classes()"
    (onDeleteClick)="removeEntityFromGroup($event)"
    (onModalClick)="openModalForm($event.type)"
  />
</div>
