main {
  flex-grow: 1;

  padding: 32px;
  display: flex;
  flex-flow: column;

  border-left: 1px solid var(--clr-black-primary);
}

:host app-sidebar-group {
  min-height: 100%;
  min-width: 234px;
}
