<aside>
  <a class="logotype-container" [routerLink]="['']" tabindex="0">
    <img
      [src]="assetsStore.logotypeSvg.path"
      [alt]="assetsStore.logotypeSvg.alt"
    />
  </a>
  <div class="divider"></div>
  <div class="groups-container">
    <div class="groups-container-title">
      <span>Groupes</span>
      <button>
        <img
          (click)="groupListIsVisible = !groupListIsVisible"
          [src]="
            groupListIsVisible
              ? assetsStore.arrowDownSvg.path
              : assetsStore.arrowUpSvg.path
          "
          [alt]="
            groupListIsVisible
              ? assetsStore.arrowDownSvg.alt
              : assetsStore.arrowUpSvg.alt
          "
        />
      </button>
    </div>
    @if (groupListIsVisible) {
    <ul class="group-list">
      @for (group of groups(); track group.group_id) {
      <li class="group-container">
        <a
          class="group-name"
          tabindex="0"
          [title]="group.name"
          (click)="navigateToGroup({ group_id: group.group_id })"
        >
          {{ group.name }}
        </a>
        <button
          class="group-delete"
          (click)="removeGroupFromList({ group_id: group.group_id })"
        >
          <img
            [src]="assetsStore.trashSvg.path"
            [alt]="assetsStore.trashSvg.alt"
          />
        </button>
      </li>
      }
    </ul>
    }
    <button (click)="openModalForm()">Ajouter un groupe</button>
  </div>
</aside>
